<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lyushiwang.netobserve">

    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/netshape"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">

        <activity android:name="com.lyushiwang.netobserve.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.lyushiwang.netobserve.manage.project_manage" />
        <activity android:name="com.lyushiwang.netobserve.manage.create_new_project" />
        <activity android:name="com.lyushiwang.netobserve.setting.system_setting" />
        <activity android:name="com.lyushiwang.netobserve.setting.setting_station" />
        <activity android:name="com.lyushiwang.netobserve.setting.setting_tolerance_horizontal"/>
        <activity android:name="com.lyushiwang.netobserve.setting.setting_tolerance_vertical"/>
        <activity android:name="com.lyushiwang.netobserve.setting.setting_tolerance_distance"/>
        <activity android:name="com.lyushiwang.netobserve.setting.setting_weather"/>
        <activity android:name="com.lyushiwang.netobserve.setting.setting_common"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity android:name="com.lyushiwang.netobserve.connect.ConnectRobot"/>
        <activity android:name="com.lyushiwang.netobserve.observe.observe_manage"/>
        <activity android:name="com.lyushiwang.netobserve.observe.observe_known_point"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity android:name="com.lyushiwang.netobserve.observe.observe_now"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity android:name="com.lyushiwang.netobserve.observe.observe_sort_honrizontal"/>
        <activity android:name="com.lyushiwang.netobserve.observe.observe_sort_vertical"/>
    </application>

</manifest>